<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppKey" value="{DATOWNIA APP KEY}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="AppSecret" value="{DATOWNIA APP SECRET}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="OAuthEndpoint" value="datownia.cloudapp.net" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="ApiEndPoint" value="www.datownia.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="publisher" value="{DATOWNIA DEVELOPER PORTAL TAG}" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Environment" value="live" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="loginUrl" value="{APP LOGON URL}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
</configuration>